*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-family: sans-serif;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}
